<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Your event has been created</h4>
    <p>You can modify or delete your events from the home page</p>
</div>
<p><a class="btn btn-primary btn-lg" href="{%url 'after_clublogin'%}" role="button">go back to Home page</a></p>
