<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<style>
     .jumbotron{
            position: relative;
            top:30%
            
        }
    h1{
            text-align: center ;
    }
    p{
            text-align: center;
    }
</style>

<div class='container'>
    <div class="jumbotron">
        <h1>Thank for registering your club </h1>
        <p>Admin manual verification is required</p>
        <p>Try to login after 24 hours</p>
        
    </div>
</div>